{% extends 'base.html' %}
{% block title %} Adopte hoy!! {% endblock %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/index.css')}}"
/>
{% endblock %}
{% block content %}
<body id="img_back">
<div class="container" id="foto-btn-foto-container" hidden>
    <div class="container" id="foto-container" >
        <img  id="img-zoom" src="/{{data_foto.ruta_archivo}}/medium/{{data_foto.nombre_archivo}}" alt="MascotaFoto">
    </div>
    <div class="container" id="btn-foto-container">
        <button id="img-zoom-btn" class="boton" type="button" onclick="btnUnzoomImg('{{ data_foto.id_aviso }}')">
            Cerrar 
        </button>
    </div>
</div>
</body>
{% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}