#body-list {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 6em 2em 8em 2em;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > * {
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
}


.navbar a {
    position: relative;
    text-decoration: none;
    margin: 0 2em;
    padding: .25em;
    font-weight: 550;
    font-size: 1.5rem;
}

.navbar-page {
    border-radius: .4em;
    background: rgb(172, 171, 171);
    border: .15em solid rgb(105, 102, 102);
}

.tableBack {
    display: flex;
    justify-content: center;
}

#tableIndex {
    border-collapse: collapse;
    font-family: sans-serif;
    border: 3px solid ;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: white;
}

thead {
    border: 3px solid ;
}

#tableIndex th,#tableIndex td {
    border: 1px solid black;
    padding: 8px 10px;
    align-items: center;
    text-align: center;
}


.imgs-index {
    width: 320px;
    height: 240px;
}



.row_list {
    cursor: pointer;
}

#info-adop {
    border-collapse: separate;
    border-spacing: 8em 0.4em;
    font-family: sans-serif;
    border: 3px  ;
    font-size: 1rem;
    letter-spacing: 1px;
}

#list_row {
    width: fit-content;
    height: fit-content;
    background-color: #eaeaea;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #dddddd;
}

#row-data-container {
    display: flex;
    justify-content: center;
}

#navbar_row {
    margin: 0;
    margin: 2em 2em 2em 2em;
}

.bold {
    font-weight: bold;
}

#list_row img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.container {
    display : grid;
    justify-content: center;
    align-items: center;    
}

#foto-btn-foto-container {
    display: grid;
    background-color : rgb(0, 0, 0);
}


#img-zoom {
    width: 800px;
    height: 600px;
}


.botones{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2em;
}

.boton{
  background:rgb(219, 64, 64);
  border: .15em solid rgb(138, 2, 2);
  border-radius: .4em;
  padding: .25em;
  font-weight: 550;
  font-size: 1.2rem;
  cursor: pointer;
}

#body-container {
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;

}

.container_foto {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#img_back{
    background-color: black;
}